body {
  box-sizing: border-box;
  background: #25282a;
  width: 100%;
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 90%;
  margin: 20px auto 0;
}

.slider-picture {
  width: 100%;
  height: calc(90vw / 2.15);
  overflow: hidden;
  border-radius: 10px;
}

.slider-picture img {
  width: 100%;
}

.slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-text {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF; 
}

.slider-controls {
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

.container {
  width: 24px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.container div {
  width: 14px;
  height: 14px;
  border-radius: 200%;
  background-color: #71abff;
  border: 2px solid #71abff;
  cursor: pointer;
}

.container:hover > div { 
  background-color: #FFF;
  border: 2px solid #FFF;
}

.container.active > div  { 
  background-color: #25282a;
}

.container.active:hover > div { 
  border: 2px solid #FFF;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.transition-fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.transition-fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
}